<form [formGroup]="customerForm" [flexFormAutosave]="customerForm">
	<p>
		<mat-form-field appearance="standard">
			<mat-label>First Name</mat-label>
			<input matInput [formControl]="firstName" flexFormAutoreset (keyup.esc)="reset(firstName)"/>
			<mat-hint>Hint</mat-hint>
			<mat-error>
				<span *ngIf="firstName.errors?.required">
          Please enter a first name.
        </span>
				<span *ngIf="firstName.errors?.invalid">
          {{firstName.errors?.invalid}}
        </span>
			</mat-error>
		</mat-form-field>
	</p>
	<p>
		<mat-form-field appearance="standard">
			<mat-label>Last Name</mat-label>
			<input matInput formControlName="lastName" />
			<mat-hint>Hint</mat-hint>
		</mat-form-field>
	</p>
</form>