:host {
  display: flex;
  flex-direction: column;
}

#status {
  padding-top: 14px;
  align-self: flex-end;
  font-size: 18px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}

mat-form-field {
  width: 100%;
}
