<flex-app>
	<flex-app-header>
		<h1>{{customer.firstName}}</h1>
	</flex-app-header>

	Main Content

	<flex-app-details>
		<flex-detail-tabs>
			<flex-detail-tab [label]="customer.firstName">
				<app-form #form [customer]=" customer">
				</app-form>
			</flex-detail-tab>
			<flex-detail-tab label="TAB 2" hidden>
				<p>Content 2</p>
			</flex-detail-tab>
			<flex-detail-tab label="TAB 3">
				<p>Content 3</p>
			</flex-detail-tab>
			<flex-detail-tab label="TAB B" hidden="false">
				<p>Content 4</p>
			</flex-detail-tab>
			<flex-detail-tab label="TAB A" hidden>
				<p>Content 5</p>
			</flex-detail-tab>
		</flex-detail-tabs>
	</flex-app-details>

	<flex-app-footer>
		<flex-toolbar name="Default Toolbar">
			<button command="button">Click me!</button>
		</flex-toolbar>
	</flex-app-footer>
</flex-app>