<flex-app>
  <flex-app-header>
    <h1>Main Feature</h1>
  </flex-app-header>

  Main Content

  <flex-app-details>
    <mat-tab-group
      mat-align-tabs="start"
      [disablePagination]="true"
      animationDuration="0ms"
    >
      <mat-tab label="TAB 1"><p>Content 1</p></mat-tab>
      <mat-tab label="TAB 2"><p>Content 2</p></mat-tab>
      <mat-tab label="TAB 3"><p>Content 3</p></mat-tab>
      <mat-tab disabled>
        <ng-template mat-tab-label>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_horiz</mat-icon>
          </button>
          <mat-menu #menu>
            <button mat-menu-item>TAB 4</button>
            <button mat-menu-item>TAB 5</button>
            <button mat-menu-item>TAB 6</button>
            <button mat-menu-item>TAB 7</button>
          </mat-menu>
        </ng-template>
      </mat-tab>
      <flex-detail-tabs>
        <mat-tab label="TAB 1"><p>Content 1</p></mat-tab>        
      </flex-detail-tabs>
    </mat-tab-group>
  </flex-app-details>

  <flex-app-footer>
    <flex-toolbar name="Default Toolbar">
      <button flex-detail-tabs command="button">Click me!</button>
    </flex-toolbar>
  </flex-app-footer>
</flex-app>
