<flex-app>
  <flex-app-header>
    <h1>Main Feature</h1>
  </flex-app-header>

  Main Content

  <flex-app-details>
    <mat-tab-group
      mat-align-tabs="start"
      mat-stretch-tabs
      disablePagination
      animationDuration="0ms"
    >
      <!-- #enddocregion align-start -->
      <mat-tab label="DETAILS">Content 1</mat-tab>
      <mat-tab label="KONTAKTE">Content 2</mat-tab>
      <mat-tab label="ANMERKUNGEN">Content 3</mat-tab>
    </mat-tab-group>
  </flex-app-details>

  <flex-app-footer>
    <flex-toolbar name="Default Toolbar">
      <button command="button">Click me!</button>
    </flex-toolbar>
  </flex-app-footer>
</flex-app>
