:host {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.example-container {
  flex: 1;
}

.example-sidenav-content {
  border: 1px;
  padding: 20px;
  display: flex;
}

.example-sidenav {
  padding: 20px;
  display: flex;
}
