<mat-tab-group mat-align-tabs="start" [disablePagination]="true" animationDuration="0ms">
	<mat-tab *ngFor="let tab of visibleTabs" [label]="tab.label">
		<ng-container *ngTemplateOutlet="tab.template"></ng-container>
	</mat-tab>
	<mat-tab disabled *ngIf="hiddenTabs.length > 0">
		<ng-template mat-tab-label>
			<button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_horiz</mat-icon>
          </button>
			<mat-menu #menu xPosition="before">
				<button mat-menu-item *ngFor="let tab of hiddenTabs" (click)="showAsLast(tab)">
          {{ tab.label }}
        </button>
			</mat-menu>
		</ng-template>
	</mat-tab>
</mat-tab-group>