:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  flex: auto;
}

.content {
  display: flex;
  flex-direction: column;
}

.details {
  padding: 10px;
  background-color: lightgreen;
}

main {
  flex: auto;
  padding: 10px;
}

footer {
  background-color: lightsteelblue;
  padding: 10px;
}
